* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(246, 246, 246);
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div div {
  background-color: #fff;
  text-align: center;
  width: calc((100% - 20px) / 5);
}

h3,
p {
  width: 100%;
  background-color: #fff;
}

@media (max-width: 910px) {
  div div {
    width: calc(90% / 3);
  }
}

@media (max-width: 620px) {
  div div {
    width: 95%;
  }
}
